@define-color bg #181818;
@define-color border #282828;
@define-color module_bg #282828;
@define-color fg #d8d8d8;
@define-color accent #f0c674;
@define-color accent_alt #eab03d;
@define-color hover_color #ac4142;

* {
    border: none;
    border-radius: 0;
    font-family: "Outfit", "Symbols Nerd Font Mono";
    font-size: 13px; 
    min-height: 0;
}

window#waybar {
    background: transparent;
}

.modules-center {
    background-color: @bg;
    border: 1px solid @border;
    border-radius: 999px;
    margin: 8px 0;
    padding: 6px 4px; 
    min-height: 26px; 
}

#workspaces, #mpris, #tray, #wireplumber, #clock {
    background-color: @module_bg;
    border-radius: 999px;
    margin: 0 4px;
    padding: 0 14px; 
    transition: all 0.3s ease;
    color: @fg;
}

#mpris:hover, #tray:hover, #wireplumber:hover, #clock:hover {
    color: @accent;
}

#workspaces {
    padding: 2px 4px;
}

#workspaces button {
    padding: 0 10px; 
    color: @fg;
    background: transparent;
    border-radius: 999px;
    transition: all 0.3s ease;
    font-family: "Outfit";
}

#workspaces button.active {
    background: linear-gradient(45deg, @accent, @accent_alt);
    color: #1a1b26;
    font-weight: bold;
}

#workspaces button:hover {
    color: @hover_color;
}

#mpris {
    font-weight: 500;
}

#mpris label, #wireplumber label, #clock label {
    margin-top: -2px;
    padding: 0;
}

#tray {
    padding: 0 10px;
}

#clock {
    font-weight: bold;
}
